body,html {

    overflow-x: hidden;
    touch-action: pan-y;
}
.main{
    position: absolute;

    left: 7.2rem;
}
.side-bar{
    width: 7.1rem;
    height: 100vh;
    position: fixed;

}
.main-text {
    color: white;
    font-size: larger;
}
.side-text {
    color:black;
}
.svgq {
     fill:#ffdd00;
}
.image {

}
.logo  {
    position: relative;
    height: 10vh;

    min-width: 30vw;
    max-width: 99vw;
    z-index: 1;
}
.logo-too{
    position: fixed;
    z-index: 0;
    height: 10vh;
    width:7.1rem;
    left:1vw;
}

.legs{
    position: absolute;
    width: 75vw ;
    height: 20vh;
    left: 7.3rem;
    top: 19vh;
}
.group{
    margin-left: 1.5vw;
}